/*
main.scss dosyasının compile edilmesi için live sass compiler eklentisi vscode üzerine yüklenmiştir
bunun dışında sass isimli eklenti de yüklenmiştir.
Ayrıca sass izlemek için aşağıdaki kod kullanılabilir.
sass --watch input.scss output.css

*/

//module isimli dosyanın import edilmesi.module dosyaları oluşturulurken '_' ile başlayarak isimlendirilmelilerdir.

//Değişken Tanımlama İşlemi.
$bodyBackground: bisque;
$linkColor: black;
$liBorderColor: plum;
$linkHoverOpacity: 0.6;
$boxColor: #32ff7e;

.kutu {
  border: 10px solid $liBorderColor;
  width: 100px;
  height: 100px;
  margin: 1rem;
}

//parametre olarak degisken alan mixin yapısı.
@mixin border($ust, $sag, $alt, $sol) {
  border-top: $ust solid #32ff7e;
  border-left: $sol solid $linkColor;
  border-right: $sag solid $liBorderColor;
  border-bottom: $alt solid $bodyBackground;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

//scss ile birlikte nested yapılar kullanılabilir örneğin burdaki yapıda body'nin içindeki a yı temsil eder.
//body nin içerisindeki a'ya hover olunduğunda uygulanıcak style işlemi olarak açıklanabilir.
body {
  background-color: $bodyBackground;
  a {
    color: $linkColor;
    //& işareti içinde bulunlan a elementini temsil eder.
    &:hover {
      opacity: $linkHoverOpacity;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .kutular {
      margin-top: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 200px;
      background-color: $boxColor;
      padding: 1rem;

      //Kalıtım İşlemi

      /*
      Oluşturulan kutu ismindeki classın özellikleri @extend keywords yardımı ile 
      box1 ve box2 classlarına eklendi bu sayede bir daha kullanılmasına gerek kalmadı 
      kod tekrarı önlenmiş oldu.
      */

      .box1,
      .box2 {
        @extend .kutu;
      }

      //include yapısı ile mixinler eklenebilir.
      //parametre almasaydı @included border() şeklinde kullanılacaktı.
      .box3 {
        @extend .kutu;
        @include border(10px, 5px, 3px, 12px);
      }
    }

    header {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      ul {
        margin-right: 1rem;
        width: 40%;
        display: flex;
        justify-content: space-between;

        li {
          border: 2px solid $liBorderColor;
          //scss ile bu şekilde toplama,çıkarma,çarpma,bölme gibi cebirsel işlemler yapılabilir.
          border-radius: 15px+15px;
          padding: 10px;
        }
      }
    }
  }
}
