@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f3f3fb;

  .component {
    background-color: #fff;
    border-radius: 12px;
    margin: 2rem;
  }

  .first-component {
    padding: 30px;
    width: 900px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Mulish", sans-serif;

    .left-area {
      margin: 0 2rem;
    }

    .right-area {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      h3 {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        font-size: 35px;
        font-weight: 600;
      }
      .link-div {
        font-size: 20px;
        font-weight: 200;
        margin-bottom: 2.5rem;
      }

      .buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: #848497;
          border: 1px solid #848497;
          padding: 1rem 2rem;
          font-size: 18px;

          &:hover {
            color: #5055b2;
            border-color: #5055b2;
            svg path {
              stroke: #5055b2;
            }
          }

          svg {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .second-component {
    width: 390px;
    height: 470px;
    padding: 50px 60px 60px 60px;
    font-family: "Mulish", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    h4 {
      font-size: 30px;
      margin-bottom: 1.5rem;
    }
    .radio-area {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      margin-bottom: 1.5rem;
      font-size: 20px;

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        input {
          cursor: pointer;
          width: 30px;
          height: 30px;
          margin-right: 10px;
          color: #5055b2;
          border-color: #5055b2;
        }
      }
    }
    button {
      width: 300px;
      min-height: 65px;
      border: none;
      background-color: #5055b2;
      color: #fff;
      border-radius: 5px;
    }
  }
}
